body {
    background-color: blue
    (0, 255, 191, 0.527);
    font-family: sans-serif;
    color: black;
  }
  
  h1, h2, h3 {
    color: red
    (179, 12, 12);
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  #interactive-section {
    cursor: pointer;
  }
  
